<div class="flex flex-wrap justify-around">
  @for (photo of photos(); track photo; let last = $last) {
    <div
        appLoadMore
        [isLastItem]="last"
        (shouldLoadMore)="loadMorePhotos()"
        class="w-[200px] rounded overflow-hidden shadow-lg m-3">
        <img
            class="w-full"
            [ngSrc]="photo.url"
            [alt]="'Photo ' + photo.id"
            width="200"
            height="300"
            priority />
        <div class="px-6 pt-4 pb-2">
            <span
              (click)="addFavourite(photo)"
              class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full cursor-pointer">Add favourite</span>
        </div>
    </div>
  }
</div>

@if (isLoading()) {
  <div class="flex justify-center m-5">
    Loading...
  </div>
}